*{
    color: white;
    background-color:  rgb(32, 35, 36);
}

.Google{
    position: absolute;
    top: 40px;
    left:20px;
    height: 30px;
    width:90px;
    margin-left: 50px;
    margin-right: 30px;

}

.image_hr{
    position: absolute;
    top:45px;
    left:800px;
    transform: rotate(90deg);
    width: 30px;    
}

.search{
    position:absolute;
    top:30px;
    left:200px;
    width:700px ;
    height:50px;
    border-radius: 25px;
    font-size: 17px;
    padding-left:15px ;
    border-color: rgb(206, 203, 199);
    color:rgb(206, 203, 199);
}

.personal{
    display: flex;
    justify-content: right;
}

.dp{
    border-radius: 15px;
    height: 30px;
    width: 30px;
    position: absolute;
    top:20px;
    right: 20px;   
}

.p1{
    margin-right:15px;
    position: absolute;
    right:50px;
    
}

.p2{
    position: absolute;
    right:130px;
    
}

.under_header{
    display: flex;
    position: relative;
    top:80px;
    left:200px;
}

button{ 
    border-radius: 20px;
    border-width: 1px;
    margin-top:7px;
    margin-right:15px ;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;


}

.under_header_text{
    color: grey;
    position: relative;
    left:900px;
}

.header_end{
    position: relative;
    top:100px;
}

.front{
    position: relative;
    top:100px;
    left:210px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}


.git_dp{
    position: absolute;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

img:hover{
    cursor: pointer;
}

p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.image_text{
    position: relative;
    left:40px;
}



    .link_above{
        color: rgb(125, 187, 247);
        position: relative;
        font-family: arial, sans-serif;
        font-size: 20px;
    }

